@import '@assets/css/variables';

.parentModal__title {
    display: flex;
    margin-bottom: 0.5rem;

    .parentModal__title_from,
    .parentModal__title_to {
        color: map-get($color, 'global', 'text-darkGray');
        @include font-size(map-get($fontSize, 'large'));
        padding: 0 10px;
        line-height: 1;
    }

    .parentModal__title_arrow {
        padding: 0 15px 0 10px;

        span {
            display: inline-block;
            position: relative;
            background-color: map-get($color, 'modal', 'background-orange');
            color: map-get($color, 'global', 'text-white');
            padding: 0 8px;
            @include font-size(map-get($fontSize, 'min-small'));
            border-top-right-radius: 8px;

            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-right: 18px solid transparent;
                border-bottom: 26px solid map-get($color, 'modal', 'background-orange');
                right: -10px;
                bottom: 0;
            }
        }
    }
}

.parentModal__timeField {
    .parentModal__timeField_row {
        display: flex;
        padding: 0.3rem 0;

        .parentModal__timeField_item {
            flex-grow: 1;
            text-align: center;
            @include font-size(map-get($fontSize, 'small'));
        }
    }

    .title {
        background: map-get($color, 'modal', 'background-lightGray');
        color: map-get($color, 'modal', 'text-gray');

        border-top: 3px solid map-get($color, 'modal', 'border');
    }
}

.parentModal__field {
    background: map-get($color, 'modal', 'background-darkWhite');
    color: map-get($color, 'modal', 'text-gray');
    max-width: 300px;

    .parentModal__field_container {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        overflow: auto;
        position: relative;

        .parentModal__field_item {
            display: inline-block;
            text-align: center;
            position: relative;
            z-index: 2;
            flex: 1 1 auto;
            @include font-size(map-get($fontSize, 'normal'));
            padding: 10px;

            .dot {
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: map-get($color, 'modal', 'background-dot');
                position: relative;
                z-index: 2;
                margin: 1rem 0;
            }

            .active {
                background-color: map-get($color, 'modal', 'background-orange');
            }

            &:first-child:before {
                left: 50%;
            }

            &:last-child:before {
                right: 50%;
            }

            &:before {
                content: '';
                position: absolute;
                height: 3px;
                background-color: map-get($color, 'modal', 'background-gray');
                left: 0px;
                right: 0px;
                top: 50%;
                margin-top: -5px;
            }
        }

        .active {
            &:first-child:after {
                left: 50%;
            }

            &:after {
                content: '';
                position: absolute;
                height: 3px;
                background-color: map-get($color, 'modal', 'background-orange');
                left: 0px;
                right: 0px;
                top: 50%;
                margin-top: -5px;
            }
        }

        .first {
            &:after {
                left: 50%;
            }
        }

        .last {
            &:after {
                right: 50%;
            }
        }
    }
}
